@(categories: List[Category], monthlyIncome: Double, budgetTotal: Double)(implicit token: String)

@import models.Budget._
@import Helpers._

@main {

  <p id="income">Monthly income: $@Numbers.amountInCurrency(monthlyIncome)</p>

  <div id="new">
    <a href="@routes.Budgets.newBudget(token)" class="button grey">New Budget</a>
    <a href="@routes.Categories.newCategory(token)" class="button grey">New Category</a>
  </div>

  <table class="budget">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="amount">Amount</th>
        <th class="proportion">% of Income</th>
      </tr>
    </thead>
    <tbody>
      @for(c <- categories) {
        <tr>
          <td class="category" colspan="3">
            @c.name
            <a href="@routes.Categories.editCategory(token, c.id.get)" class="edit button grey">edit</a>
          </td>
        </tr>
        @for(b <- Category.budgets(c.id.get)) {
          <tr>
            <td class="name">
              @b.name
              <a href="@routes.Budgets.editBudget(token, b.id.get)" class="edit button grey">edit</a>
              <a href="@routes.Budgets.accountIndex(token)" class="delete button grey" data-id="@b.id.get">delete</a>
            </td>
            <td class="amount">@Numbers.amountInCurrency(b.amount)</td>
            <td class="proportion">@Numbers.calculatePercentage(b.amount, monthlyIncome)</td>
          </tr>
        }
      }
    </tbody>
    <tfoot>
      <tr>
        <td class="total">Total</td>
        <td class="amount"></td>
        <td class="proportion">@Numbers.calculatePercentage(budgetTotal, monthlyIncome)</td>
      </tr>
    </tfoot>
  </table>

}
