@(budget: Budget, budgetForm: Form[Budget], categoryOptions: Seq[(String, String)])(implicit token: String)

@import helper._
@import FormHelpers._

@implicitFieldConstructor = @{ FieldConstructor(myFieldConstructor.f) }

@main {

  <section class="content">

    <h2>Edit Budget</h2>

    @form(routes.Budgets.updateBudget(token, budget.id.get)) {

      @select(budgetForm("category_id"), args = '_label -> "Category", options = categoryOptions)

      @inputText(budgetForm("name"))

      @inputText(budgetForm("amount"), args = '_type -> "number")
    
      <input type="submit" value="Update Budget" class="button blue" />

    }

  </section>

}
