@(budgets: List[Budget], budgetTotal: Double)

@import models.Budget._

@main() {

  <table class="budget">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="amount">Amount</th>
        <th class="proportion">Proportion</th>
      </tr>
    </thead>
    <tbody>
      @for(b <- budgets) {
      <tr>
        <td class="name">
          @b.name
          <a href="@routes.Budgets.editBudget(b.id.get)" class="edit button">edit</a>
          <a href="@routes.Budgets.index" class="delete button" data-id="@b.id.get">delete</a>
        </td>
        <td class="amount">@amountInCurrency(b.amount)</td>
        <td class="proportion">@("%1.0f".format(b.amount / budgetTotal * 100))</td>
      </tr>
      }
      <tr>
        <td class="new" colspan="4"><a href="@routes.Budgets.newBudget">New Budget</a></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td class="total">Total</td>
        <td class="amount">@amountInCurrency(budgetTotal)</td>
        <td class="proportion">100</td>
      </tr>
    </tfoot>
  </table>

}
