@(categories: List[Category], budgetsWithoutCategory: List[Budget], budgetTotal: Double)

@import models.Budget._

@main() {

  <div id="new">
    <a href="@routes.Budgets.newBudget">New Budget</a>
    <a href="@routes.Categories.newCategory">New Category</a>
  </div>

  <table class="budget">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="amount">Amount</th>
        <th class="proportion">Proportion</th>
      </tr>
    </thead>
    <tbody>
      @for(c <- categories) {
        <tr>
          <td class="category" colspan="3">@c.name</td>
        </tr>
        @for(b <- Category.budgets(c.id.get)) {
          <tr>
            <td class="name">
              @b.name
              <a href="@routes.Budgets.editBudget(b.id.get)" class="edit button">edit</a>
              <a href="@routes.Budgets.index" class="delete button" data-id="@b.id.get">delete</a>
            </td>
            <td class="amount">@amountInCurrency(b.amount)</td>
            <td class="proportion">@("%1.0f".format(b.amount / budgetTotal * 100))</td>
          </tr>
        }
      }
      @if(budgetsWithoutCategory.length > 0) {
        <tr>
          <td class="category" colspan="3">Uncategorized</td>
        </tr>
        @for(b <- budgetsWithoutCategory) {
          <tr>
            <td class="name">
              @b.name
              <a href="@routes.Budgets.editBudget(b.id.get)" class="edit button">edit</a>
              <a href="@routes.Budgets.index" class="delete button" data-id="@b.id.get">delete</a>
            </td>
            <td class="amount">@amountInCurrency(b.amount)</td>
            <td class="proportion">@("%1.0f".format(b.amount / budgetTotal * 100))</td>
          </tr>
        }
      }
    </tbody>
    <tfoot>
      <tr>
        <td class="total">Total</td>
        <td class="amount">@amountInCurrency(budgetTotal)</td>
        <td class="proportion">100</td>
      </tr>
    </tfoot>
  </table>

}
