@(accountForm: Form[Account])(implicit token: String)

@import helper._
@import FormHelpers._

@implicitFieldConstructor = @{ FieldConstructor(myFieldConstructor.f) }

@main {

<section class="content">

  <h2>New Account</h2>

  @form(routes.Accounts.createAccount) {

    @inputText(accountForm("token"), 'readonly -> "readonly")

    @inputText(accountForm("monthly_income"), '_label -> "Monthly Income")

    <input type="submit" value="Create Account" class="button blue" />

  }

</section>

}
